<div class="col-md-3 sidebar">
  <div class="search-component uppercase">
    <p style="text-align:right">Search Shipment</p>
    <div class="input-group mont">
      <input type="text" class="form-control search-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-secondary search-button" type="button"><fa class="fa fa-fw fa-search"></fa></button>
      </span>
    </div>
  </div>

  <div class="results-component">
    <div class="res-card">
      <p>
        Truck ID: <span class="heavy">4500019070</span> <br>
        Delivery By: <span class="heavy">hh:mm | dd mm yy </span><br>
        Status: <span class="heavy">On Time.</span>
      </p>
    </div>
    <div class="res-card">
      <p>
        Truck ID: <span class="heavy">4500019070</span> <br>
        Delivery By: <span class="heavy">hh:mm | dd mm yy </span><br>
        Status: <span class="heavy">On Time.</span>
      </p>
    </div>
    <div class="res-card">
      <p>
        Truck ID: <span class="heavy">4500019070</span> <br>
        Delivery By: <span class="heavy">hh:mm | dd mm yy </span><br>
        Status: <span class="heavy">On Time.</span>
      </p>
    </div>
    <div class="res-card">
      <p>
        Truck ID: <span class="heavy">4500019070</span> <br>
        Delivery By: <span class="heavy">hh:mm | dd mm yy </span><br>
        Status: <span class="heavy">On Time.</span>
      </p>
    </div>
    <div class="res-card">
      <p>
        Truck ID: <span class="heavy">4500019070</span> <br>
        Delivery By: <span class="heavy">hh:mm | dd mm yy </span><br>
        Status: <span class="heavy">On Time.</span>
      </p>
    </div>
    <div class="res-card">
      <p>
        Truck ID: <span class="heavy">4500019070</span> <br>
        Delivery By: <span class="heavy">hh:mm | dd mm yy </span><br>
        Status: <span class="heavy">On Time.</span>
      </p>
    </div>
  </div>

</div>
